@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
body .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
body .overlay__bg {
  background: url(../img/bg-turk.jpg) no-repeat center;
  background-size: cover;
  min-height: 100%;
  z-index: 300;
  overflow: hidden;
}
body .overlay__japan-bg {
  background: url(../img/bg-jap.jpg) no-repeat center;
  background-size: cover;
  min-height: 100%;
  z-index: 300;
  overflow: hidden;
}
body .overlay__italian-bg {
  background: url(../img/bg-italian.jpg) no-repeat center;
  background-size: cover;
  min-height: 100%;
  z-index: 300;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  margin-top: 100px;
  z-index: 999;
  background-color: transparent;
}
.header::after {
  content: "";
  display: block;
  max-width: 1345px;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 1px solid #fff;
}

.wrapper {
  max-width: 1345px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.header__wrapper .header__logo {
  max-width: 75px;
  margin-left: 0px;
}
.header__wrapper .header__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.header__wrapper .header__list .header__item {
  margin-right: 100px;
  transition: 0.5s;
}
.header__wrapper .header__list .header__item .header__link {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  line-height: 24px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.header__wrapper .header__list .header__item .header__link.active {
  padding: 8px 10px;
  background: rgb(207, 34, 34);
  border-radius: 5px;
}
.header__wrapper .header__list .header__item:hover {
  transform: scale(1.15);
}
.header__wrapper .header__list .header__item:hover::before {
  content: "";
  display: block;
  max-width: 25px;
  margin: 0 auto;
  border-bottom: 2px solid rgb(253, 42, 42);
}
.header__wrapper .header__list .header__item:last-child {
  margin-right: 0px;
}

.content__wrapper {
  display: flex;
  align-items: center;
}

.content__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin-top: 10%;
}
.content__about .content__label {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 67px;
  margin-bottom: 20px;
}
.content__about .content__label::after {
  content: "";
  display: block;
  width: 60%;
  padding-top: 10px;
  border-bottom: 2px solid rgb(253, 42, 42);
}
.content__about .content__text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 50px;
}
.content__about .content__button {
  max-width: 200px;
  padding: 15px 35px;
  background-color: rgb(253, 42, 42);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0px 2px 4px #831219;
  transition: 0.5s;
}
.content__about .content__button:hover {
  background-color: rgb(207, 34, 34);
}

.content__wiki {
  display: flex;
  justify-content: flex-end;
}

.wiki-block {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-left: 30px;
  margin-top: 28%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(90.44deg, rgba(255, 255, 255, 0.5) -3.55%, rgba(255, 255, 255, 0) 120.14%);
  -webkit-backdrop-filter: blur(15.4074px);
          backdrop-filter: blur(15.4074px);
}
.wiki-block .wiki-block__label {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 15px;
  text-shadow: 0.4px 0.4px 0.4px black;
}
.wiki-block .wiki-block__desc {
  color: #fff;
  padding: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
  text-shadow: 0.4px 0.4px 0.4px black;
}
.wiki-block .wiki-block__button {
  width: 100%;
  padding: 15px 35px;
  background-color: rgb(253, 42, 42);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0px 2px 4px #831219;
  transition: 0.5s;
}
.wiki-block .wiki-block__button:hover {
  background-color: rgb(207, 34, 34);
}

.socials {
  max-width: 100%;
  margin-top: 7%;
}

.social__wrapper a {
  margin-right: 45px;
  border-radius: 50%;
}
.social__wrapper a img {
  width: 30px;
}
.social__wrapper a img:hover {
  transition: 0.4s;
  transform: scale(1.2);
}

@media (max-width: 1450px) {
  .header {
    margin-top: 50px;
  }
  .header::after {
    max-width: 1080px;
  }

  .wrapper {
    max-width: 1080px;
  }
}
@media (max-width: 1150px) {
  .header {
    margin-top: 20px;
  }
  .header::after {
    max-width: 890px;
  }

  .wrapper {
    max-width: 890px;
  }

  .content__about {
    margin-top: 12%;
  }
  .content__about .content__label {
    font-size: 42px;
  }
  .content__about .content__text {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .wiki-block {
    margin-top: 35%;
  }
  .wiki-block .wiki-block__label {
    font-size: 22px;
    line-height: 20px;
  }
  .wiki-block .wiki-block__desc {
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
  }

  .socials {
    margin-top: 15%;
  }
}
@media (max-width: 950px) {
  .header {
    margin-top: 20px;
  }
  .header::after {
    max-width: 750px;
  }

  .wrapper {
    max-width: 750px;
  }

  .wiki-block {
    margin-top: 35%;
  }
  .wiki-block .wiki-block__label {
    font-size: 22px;
    line-height: 18px;
  }
  .wiki-block .wiki-block__desc {
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}